body {
	padding-top: 90px;
}

.container {
	margin-top: 15px;
}

.navbar {
	min-height: 80px;
}

.navbar-default {
	background-image: url(http://manacakery.net/pb/img/bg.png);
}

.navbar-header img {
	width: 135px;
	height: 32px;
	margin-top:0.5em;
}

.form-control,
.input-group-btn {
	opacity: 0.7;
}

.post h1 {
	font-size: 22px;
	color: #19ad5e;
}

.post h3 {
	font-size: 16px;
	margin-top: -5px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
	color: #19ad5e;
	opacity: 0.7;
}

.post a {
	color: #19ad5e;
}

.col-md-12 a:hover,
.col-md-12 a:focus,
.col-md-12 a:active {
	opacity: 0.8;
	text-decoration: none;
}

.col-md-12.divider {
	margin-bottom: 3em;
}

.label-success {
	background-color: #19ad5e;
}

.label-success:hover {
	opacity: 0.9;
}

.pagination > li > a {
	color: #19ad5e;
	font-weight: bold;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active {
	background-color: #19ad5e;
	color: #fff;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > a:active {
	background-color: #19ad5e;
	border-color: #ddd;
	font-weight: bold;
}

.previous a,
.next a {
	color: #19ad5e;
}

.alert-success a {
	color: #19ad5e;
}

div.codehilite pre {
	background-color: #fdf6e3;
}