<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Pictograph Box{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" title="Blog posts" href="/feeds/posts/">
        
        {% load staticfiles %}
        <link rel="icon" type="image/png" href="{% static 'blogengine/bower_components/html5-boilerplate/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'blogengine/bower_components/html5-boilerplate/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'blogengine/bower_components/html5-boilerplate/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'blogengine/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blogengine/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
       	<link rel="stylesheet" href="{% static 'blogengine/css/custom.css' %}">
       	<link rel="stylesheet" href="{% static 'blogengine/css/code.css' %}">
        <script src="{% static 'blogengine/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- facebook comments -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'blogengine:index' %}"><img src="http://manacakery.net/pb/img/logo.png" class="hidden-xs" /></a>
                    <a class="navbar-brand visible-xs-inline" href="{% url 'blogengine:index' %}"><span class="glyphicon glyphicon-camera"></span> Pictograph Box</a>
                </div> <!-- end of navbar-header -->

                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav navbar-right">
                    	{% load flatpages %}
                    	{% get_flatpages as flatpages %}
                    	{% for flatpage in flatpages %}
                        <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
                        {% endfor %}
                        <li><a href="/feeds/posts/">RSS</a></li>

                        <form action="/search" method="GET" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" name="q" placeholder="Search..." class="form-control"></input>
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </ul>
                </div>
            </div> <!-- end of nav container -->
        </div> <!-- end of navbar -->

    	<div class="container">
	        <div class="row">
	            {% block content %}{% endblock %}
	        </div>
	    </div>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'blogengine/bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'blogengine/bower_components/html5-boilerplate/js/plugins.js' %}"></script>
        <script src="{% static 'blogengine/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        -->
    </body>
</html>